[user]
  name = Lars Jönsson
  email = crymeat@gmail.com

[core]
  editor = nvim
  pager = delta

[delta]
  paging = never
  side-by-side = true

[fetch]
  prune = true

[pull]
  rebase = true

[diff]
  colorMoved = default
  ignoreBlankLines = true
  ignoreSpaceAtEOL = true
  ignoreSpaceChange = true
