/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

* {
  border-radius: 0;
  font-family: "Fira Code Medium Nerd Font Complete Mono";
  font-size: 11pt;
  min-height: 0;
}

tooltip {
  background: #1e1e28;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #74c7ec;
}

@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: orange;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: red;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* The whole bar */
#waybar {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: Roboto, Helvetica, Arial, sans-serif, "Font Awesome 5 Free";
  font-size: 13px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibit {
  padding-left: 10px;
  padding-right: 10px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: orange;
}

#battery.critical {
  color: red;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#clock {
  font-weight: bold;
}

#cpu.warning {
  color: orange;
}

#cpu.critical {
  color: red;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: orange;
}

#memory.critical {
  color: red;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#network.disconnected {
  color: orange;
}

#temperature.critical {
  color: red;
}

#window {
  font-weight: bold;
}

#workspaces button {
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
}

#workspaces button.focused {
  color: white;
}

#workspaces button.urgent {
  border-color: #f089a6;
  color: #f089a6;
}
